/* Style for multiple choice questions answer list */
@counter-style american {
  system: fixed;
  symbols: "1" "2" "3" "4";
  prefix: "(";
  suffix: ") ";
}

.american {
  list-style-type: american;
}

.inline {
  display: flex;
}

.inline li {
  flex: 1;
}

/* Style for problems */
.problem{
  padding: 1rem;
  border: 1px solid #d9d9d9;
}
.problem h2 {
  background: #333333;
  text-align: center;
  margin: -1rem -1rem 1rem -1rem;
  padding: 1rem;
}
.problem :last-child {
  margin-bottom: 0;
}

.problem .line:last-of-type {
  margin-top: 1rem;
}

.problem img {
  width: 100%;
}