@font-face {
  font-family: "Alef";
  src: url(../fonts/Alef/TTF/Alef-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Alef";
  src: url(../fonts/Alef/TTF/Alef-Bold.ttf);
  font-weight: bold;
}

/* based on https://thebestmotherfucking.website/ */
body {
  font-family: Alef;
  background-color: black;
  color: #d9d9d9;
  margin: 2em auto;
  max-width: 600px;
  padding: 1em;
  text-align: justify;
}

h1 {
  text-align: center;
}

a {
  color: #07a;
  text-decoration: none;
}

a:visited {
  color: #ca1a70;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #d9d9d9;
  padding: 0.5rem;
  text-align: right;
}